###############################################################################
# Project
###############################################################################

servers.json
settings.json

###############################################################################
# Python
###############################################################################
__pycache__/
